

# build files
**.o
**.d

# Qt creator
**/acc_rcv.config
**.cflags
**.cxxflags
**.cproject
**.creator
**.files
**.includes
**.creator.user

# CCS
**.ccsproject
**.project
**.settings
Debug
.launches
targetConfigs

# vim
**.swp



