# build dirs
dep
obj

# build files
**.a
**.o
**.d
acc_rcv/acc_rcv

# Qt creator
**/acc_rcv.config
**.cflags
**.cxxflags
**.cproject
**.creator
**.files
**.includes
**.creator.user

# CCS
**.ccsproject
**.project
**.settings
Debug
.launches
targetConfigs

# vim
**.swp



